#search {
    background: rgb(245, 241, 241) no-repeat fixed center;
    border: 2px solid teal;
    color: teal;
    font-style: bold;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: block;
}

#plus {
    border: 2px solid teal;
	background-color: teal;
    color: white;
	font-size: 16px;
	height: 2.5em;
	width: 2.5em;
	border-radius: 50%;
	position: relative;
    font-size: 22px;
    display: block;
}

#createaccount {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    box-shadow: 10px 5px 5px black;
}